<header class="main-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="/" class="main-header_home-link">
                    <img src="/images/rolex/logorolex3.jpg">
                </a>
            </div>
            <div class="col-7 col-md-6">
                <form action="/search-results" method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="col-12 col-md-4">
                <a class="main-header_credit-link">
                    <i class="fas fa-hand-holding-usd"></i>
                    Todas las opiniones en un solo lugar.
                </a>
            </div>
            <h3 class="slogan" >A Crown for Every Achievement</h3>
        </div>
    
        <button class="btn-toggle-navbar">
            <i class="fas fa-bars"></i>
        </button>
    
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/">Todos los productos</a></li>
                <li><a href="/product-add">Cargar productos</a></li>

            </ul>
    
            <ul class="right-navbar">
                <% if (usuario) { %>
                    <li>
                        <span>¡Hola, <%= usuario.nombre_usuario %>!</span>
                    </li>
                    <li>
                        <a href="/users/profile">Mi Perfil <i class="fas fa-user"></i></a>
                    </li>
                    <li>
                        <a href="/users/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                    <li>
                        <a href="/products/create">Agregar producto <i class="fas fa-plus"></i></a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/users/login">Login <i class="fas fa-user"></i></a>
                    </li>
                    <li>
                        <form action="/users/register">
                            <button class="logout" type="submit">Register <i class="fas fa-sign-in-alt"></i></button>
                        </form>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>